@use "base/variables" as v;
@use "base/mixins" as m;

.formulario {
  background-color: v.$blanco;
  margin: 5rem auto 2rem auto;
  border-radius: 5rem;
  box-shadow: 0 3px 7px 0 v.$gris;
  @include m.desktop {
    display: flex;
    justify-content: center;

    max-width: 90rem;

    &__input {
      border: none;
    }
    &__campo {
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
    }
  }
}
